* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 16px 384px 96px;
}

.nav {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.middle {
    display: flex;
    height: 250px;
    gap: 64px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.right {
    flex: 1;
    max-height: 100%;
}

.right img {
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.subtext {
    font-size: 18px;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.info {
    color: #1F2937;
    padding: 64px 512px;
    text-align: center;
}

h2 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 32px;
}

.blocks {
    display: flex;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    height: 250px;
    width: 150px;
}

.hold {
    width: 128px;
    height: 128px;
}

.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.quoteblock {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 64px 512px;
}

.quote {
    margin: 0;
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
    padding-right: 64px;
}

.signup {
    padding: 64px 384px;
}

.bluebox {
    background-color: #3882F6;
    border-radius: 16px;
    padding: 32px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    border: 2px solid #F9FAF8;
}

.title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.text {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.copyright {
    color: #E5E7EB;
    font-size: 18px;
}